body {
    padding: 0;
    --main-color:#0077ff;
    --hover-color:#0099ffc0;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
}
h2{
    margin-bottom: 7%;
    margin-top: 100px;
    text-align: center;
}
.btn{  
    border: 1px solid var(--main-color);
    color: white;
    font-size: 25px;
    margin: 10px;
    width: 150px;
    border-radius: 10px;
    height: 50px;
    background-color: var(--main-color);

}
.inputx{ 
    box-shadow: 0 0 5px var(--main-color);
    border-radius: 13px;
    border: 2px solid var(--main-color);
    padding-top: 15px;
    font-size: 25px;
    margin-right: 10px;
    padding-bottom: 15px;
    width: 50%;
}
.text{
    color:var(--hover-color);

}
.inputx[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px var(--hover-color);
    border-radius: 13px;
    border: 2px solid var(--hover-color);
    padding-top: 15px;
    font-size: 25px;
    padding-bottom: 15px;
    width: 50%;
  }
input[type="checkbox"]{
    width: 30px;
    height: 25px; 
    margin-right: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.strikethrough{
    text-decoration: line-through;
    text-decoration-thickness: 0.1em;
    color: rgba(128, 128, 128, 0.527);
}
.field{
    padding-top: 20px;
    padding-bottom: 20px;
}
.btn:hover{
    background-color: var(--hover-color);
    border: 2px solid var(--hover-color);
}

@media only screen and (max-width:600px){
    h2{
        font-size: larger;
    }
    .inputx{
        width: 100%;
    }
    .inputx[type=text]:focus, textarea:focus{
        width: 100%;
    }
}